body
    background-color: hsl(216, 12%, 8%)
    margin: 0
    padding: 0

.main__container
    width: 90%
    background-color: hsl(213, 19%, 18%)
    margin: auto
    border-radius: 15px
    .container__logo
        background-image: url('./images/icon-star.svg')