@import 'variables';

body
    background-color: hsl(216, 12%, 8%)
    margin: 0
    padding: 0

.main__container
    width: 90%
    background-color: hsl(213, 19%, 18%)
    margin: 10% auto
    border-radius: 15px
    display: flex
    flex-direction: column
    font-family: $primary-font
    .container__logo
        width: 12%
        height: 30px
        background-image: url('../images/icon-star.svg')
        background-repeat: no-repeat
        background-position: center center
        background-color: hsl(216, 12%, 54%)
        margin-top: 5%
        margin-left: 5%
        border-radius: 100%
    .container__title, .container__paragraph, .container__rating
        width: 90%
        margin: auto
    .container__title
        font-weight: 700
        margin-bottom: 5%
        color: hsl(0, 0%, 100%)
    .container__paragraph
        font-weight: 400
        font-size: 90%
        color: hsl(217, 12%, 63%)
